<div class="flex sm:flex-row flex-col sm:justify-end sm:items-center items-start sm:gap-0 gap-y-2.5 mb-5">
    <p-button (onClick)="showDrawer = true" icon="pi pi-plus" label="Add Role" severity="contrast"
        styleClass="px-3 py-2" variant="outlined" *ngIf="hasPermission('ROLE_CREATE')" />
</div>

<p-card>
    <p-table [value]="(role$ | async) ?? []" [paginator]="true" [rows]="10" [loading]="loading$ | async"
        [showLoader]="false" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 20, 30]"
        [totalRecords]="role$.value.entries.length" currentPageReportTemplate="{first} - {last} of {totalRecords}"
        responsiveLayout="scroll" styleClass="p-datatable-striped">
        <ng-template pTemplate="loadingbody">
            <tr *appRepeat="15">
                <td *appRepeat="6">
                    <p-skeleton />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template let-role pTemplate="body">
            <tr>
                <td>
                    <a [routerLink]="role.roleId" class="text-primary font-semibold">
                        {{ role.roleName }}
                    </a>
                </td>
                <td [style]="{'white-space': 'normal', 'word-break': 'break-word', 'max-width': '40px'}">{{
                    role.roleDescription }}</td>
                <td class="flex gap-3">
                    <p-button (click)="deleteRole(role)" [outlined]="true" icon="pi pi-trash" severity="danger"
                        styleClass="action-button"
                        [disabled]="role.roleName.includes('DEFAULT') || !hasPermission('ROLE_DELETE')" />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">
                    <app-no-data />
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<p-drawer [(visible)]="showDrawer" [header]="'Create Role'" blockScroll="true" closeOnEscape="false" dismissible="false"
    position="right" styleClass="w-full md:w-[500px]" (onHide)="onDrawerClose()">
    <app-role-create (onClose)="onDrawerClose()" *ngIf="showDrawer" />
</p-drawer>