<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <h1>Reset Password</h1>
    </mat-card-header>
    <mat-card-content>

      <!-- Old Password Field -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Old Password</mat-label>
        <input formControlName="oldPassword" type="password" matInput />
        <mat-error *ngIf="resetPasswordForm.get('oldPassword')?.hasError('required')">
          Old Password is required.
        </mat-error>
      </mat-form-field>

      <!-- New Password Field -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New Password</mat-label>
        <input formControlName="newPassword" type="password" matInput />
        <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">
          New Password is required.
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')">
          Password must be at least 6 characters.
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('maxlength')">
          Password cannot exceed 15 characters.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input formControlName="confirmPassword" type="password" matInput />
        <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">
          Confirm Password is required.
        </mat-error>
      </mat-form-field>

      <div class="error-message" *ngIf="resetPasswordForm.hasError('mismatch') && resetPasswordForm.get('confirmPassword')?.touched">
        <mat-error>Passwords do not match.</mat-error>
      </div>

      <div class="div-50">
        <button type="submit" mat-raised-button color="primary" [disabled]="resetPasswordForm.invalid">
          Reset Password
        </button>
      </div>

    </mat-card-content>
  </mat-card>
</form>
