/* .reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.reset-password-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-text {
  color: red;
  font-size: 12px;
} */


mat-card {
  margin: 2%;
  text-align: left;
  width: 30%;
  margin-left: 34%;
  flex-direction: column;
  border: 1px solid #ccc;
  margin-top: 10%;
}

.mat-mdc-form-field {
  width: 98%; 
}

.mat-50 {
  width: 48%;
}

.div-50 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mat-mdc-raised-button {
  width: 50%;
}

.example-spacer {
  flex: 1 1 auto;
}