<div class="flex flex-col justify-center h-full p-8 gap-y-5">
    <h2 class="text-2xl font-semibold">Reset Password</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="resetForm" class="flex flex-col gap-y-5">
      <div class="flex flex-col gap-y-2">
        <input class="w-full" formControlName="email" pInputText [disabled]="true" />
      </div>
      <div class="flex flex-col gap-y-2">
        <label class="text-sm block">Old Password</label>
        <p-password
          [feedback]="false"
          formControlName="oldPassword"
          inputStyleClass="w-full"
          placeholder="Old Password"
          styleClass="w-full"
        ></p-password>
        <p-message
          *ngIf="submitted && resetForm.get('oldPassword')?.hasError('required')"
          severity="error"
          size="small"
          variant="simple"
        >
          Old Password is required
        </p-message>
      </div>
      <div class="flex flex-col gap-y-2">
        <label class="text-sm block">New Password</label>
        <p-password
          [feedback]="false"
          formControlName="newPassword"
          inputStyleClass="w-full"
          placeholder="New Password"
          styleClass="w-full"
        ></p-password>
        <p-message *ngIf="submitted && resetForm.get('newPassword')?.hasError('required')"
          severity="error" size="small" variant="simple">
          New Password is required
        </p-message>
        <p-message *ngIf="submitted && resetForm.get('newPassword')?.hasError('minlength')"
          severity="error" size="small" variant="simple">
          Password must be at least 6 characters.
        </p-message>
        <p-message *ngIf="submitted && resetForm.get('newPassword')?.hasError('maxlength')"
          severity="error" size="small" variant="simple">
          Password cannot exceed 15 characters.
        </p-message>
      </div>
      <div class="flex flex-col gap-y-2">
        <label class="text-sm block">Confirm Password</label>
        <p-password
          [feedback]="false"
          formControlName="confirmPassword"
          inputStyleClass="w-full"
          placeholder="Confirm Password"
          styleClass="w-full"
        ></p-password>
        <p-message
          *ngIf="submitted && resetForm.hasError('mismatch') && resetForm.get('confirmPassword')?.touched"
          severity="error" size="small" variant="simple">
          Passwords do not match.
        </p-message>
      </div>
      <p-button
        [disabled]="loading"
        [icon]="loading ? 'pi pi-spin pi-spinner' : 'pi'"
        [loading]="loading"
        iconPos="right"
        label="Reset"
        styleClass="w-full py-2"
        type="submit"
      />
    </form>
  </div>
  