<mat-card>
    <mat-toolbar color="primary" class="header-bar" style="background-color: #004780; color: white;">
        <span>Permission Assignment</span>
    </mat-toolbar>
    <div style="margin-top: 2%;"></div>
    <!-- Role Selection Dropdown -->
    <mat-form-field appearance="outline" class="role-dropdown">
        <mat-label>Select Role</mat-label>
        <mat-select (selectionChange)="onRoleChange($event.value)">
            <mat-option *ngFor="let role of roles" [value]="role.roleId">
                {{ role.roleName }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Name Column -->
            <ng-container matColumnDef="permissionName">
                <th mat-header-cell *matHeaderCellDef>Permission Name</th>
                <td mat-cell *matCellDef="let element">{{element.permissionName}}</td>
            </ng-container>

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [disabled]="!hasPermission('ROLE_EDIT')">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? (hasPermission('ROLE_EDIT') ? selection.toggle(row) : null): null"
                        [checked]="selection.isSelected(row)" [disabled]="!hasPermission('ROLE_EDIT')">
                    </mat-checkbox>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
                (click)="hasPermission('ROLE_EDIT') ? selection.toggle(row) : null"
                [class.disabled-row]="!hasPermission('ROLE_EDIT')"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>
    </div>
    <div class="save-button-container">
        <button mat-raised-button color="primary" (click)="savePermission()"
            [disabled]="!selectedRole || !hasPermission('ROLE_EDIT') ">
            Save
        </button>
    </div>
</mat-card>