<mat-toolbar color="primary" class="mat-elevation-z8">
    <span>Kitchensink Quickstart</span>
    <span class="example-spacer"></span>
    <button routerLink="input" mat-button>Input</button>
</mat-toolbar>
<mat-drawer-container autosize class="navigation-bar">
    <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
        <mat-list-item>
            <button routerLink="" mat-button><mat-icon>home</mat-icon> Home</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <button routerLink="user-list" mat-button><mat-icon>supervisor_account</mat-icon>Users</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <button routerLink="user-list" mat-button><mat-icon>supervised_user_circle</mat-icon>Members</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <button routerLink="roles" mat-button><mat-icon>security</mat-icon> Access Control</button>
        </mat-list-item>
    </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center;min-height: 600px;">

            <router-outlet></router-outlet>
            </div>
    </mat-drawer-content>
</mat-drawer-container>