<mat-toolbar color="primary" class="mat-elevation-z8">
    <span>Kitchensink Quickstart</span>
</mat-toolbar>
<mat-drawer-container class="navigation-bar">
    <mat-drawer #drawer opened="true" mode="side" position="start">
        <mat-nav-list>
            <mat-list-item>
                <button routerLink="profile" mat-button><mat-icon>home</mat-icon> Home</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="hasPermission('USER_CREATE') || hasPermission('USER_DELETE')">
                <button (click)="navigateToUsers('USER')"
                    mat-button><mat-icon>supervisor_account</mat-icon>Users</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <button (click)="navigateToUsers('MEMBER')"
                    mat-button><mat-icon>supervised_user_circle</mat-icon>Members</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <!-- Access Control with Submenu -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>security</mat-icon> Access Control
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-list>
                    <mat-list-item>
                        <button routerLink="roles" mat-button>Roles</button>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <button routerLink="permission-assign" mat-button>Permissions</button>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>

            <div class="logout-container">
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-button color="warn" (click)="logout()">
                        <mat-icon>logout</mat-icon> Logout
                    </button>
                </mat-list-item>
            </div>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center;min-height: 600px;">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>