.navigation-bar {
    font-size: large;
}

.mat-drawer-side {
    box-shadow: none;
    /* border-right-color: var(--mat-sidenav-container-divider-color, transparent); */
    border-right-width: 1px;
    border-right-style: solid;
    padding: 30px;
    text-size-adjust: auto;
    /* background-color: #004780; */
    /* #40bde0;  */
    /* turquoise; */
    max-height: 100%;
    /* border-radius: 12px; */
}

.mat-expansion-panel {
    box-shadow: none;
    display: inline;
    background: none;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    color: #005cbb;
    font-size: 14px !important;
}

.mat-icon {
    font-size: 20px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    height: var(--mat-toolbar-standard-height, 64px);
    color: aliceblue;
    background-color: #004780;
    /* border-radius: 9px; */
}

mat-list-item button {
    width: 100%;
    font-size: 14px; 
    padding: 15px 20px;
    display: flex;
    text-align: left;
    justify-content: flex-start;
  }
  
  mat-icon {
    font-size: 28px;
    margin-right: 10px;
  }

  .navigation-bar {
    height: 100vh; 
    width: 100vw; 
    display: flex;
}

mat-drawer-container {
    height: 100vh;
    width: 100vw; 
}

mat-drawer {
    width: 20%; 
    background: #f4f4f4; 
}

mat-drawer-content {
    flex-grow: 1;
    padding: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}


.logout-container {
    margin-top: auto; /* Pushes logout button to the bottom */
    padding: 10px;
}