.st0 {
  opacity: 0.302;
}

.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.ox-spinner {
  -webkit-animation: e 2s ease-in infinite;
  animation: e 2s ease-in infinite;
  display: inline-block;
  height: 2em;
  margin: 0.2em;
  width: 2em;
}

.ox-spinner:first-child {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.ox-spinner:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.ox-spinner:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-webkit-keyframes e {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
}

@keyframes e {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(4);
  }
}
