<div class="flex flex-col md:flex-row gap-6" *ngIf="hasPermission('USER_PROFILE_VIEW')">
    <p-card [style]="{ width: '350px', height: '300px', overflow: 'hidden', padding: '20px' }"
        class="flex flex-col items-start text-center">
        <p-avatar label="A" class="mb-3 custom-avatar" size="xlarge" shape="circle" />

        <div style="margin-top: 20px;">
        <h3 class="text-lg font-semibold">{{ userData?.name }}</h3>
    </div>
    </p-card>

    <p-card [style]="{ width: '170%', height: '300px', overflow: 'hidden', padding: '20px' }" class="flex flex-col">
        <div class="grid grid-cols-2 gap-y-3" *ngIf="userData">
            <!-- Full Name -->
            <div class="flex items-center">
                <span>Full Name:</span>
            </div>
            <div class="flex items-center">
                <input type="text" class="p-inputtext w-full" 
                    [ngClass]="{ 'editable-field': isEditingName }"
                    [disabled]="!isEditingName" [(ngModel)]="userData.name">
                <button pButton class="p-button-text p-2 ml-2" (click)="toggleEdit('name')" [disabled]="!hasPermission('USER_PROFILE_EDIT')">
                    <i class="pi" [ngClass]="isEditingName ? 'pi-check text-green-500' : 'pi-pencil'"></i>
                </button>
            </div>
            <div class="col-span-2">
                <hr class="border-gray-500 my-2">
            </div>

            <div>Designation:</div>
            <div>
                <input type="text" class="p-inputtext w-full" [disabled]="true" [(ngModel)]="userData.roles[0].roleName">
            </div>
            <div class="col-span-2">
                <hr class="border-gray-500 my-2">
            </div>
    
            <!-- Phone Number -->
            <div class="flex items-center">
                <span>Phone Number:</span>
            </div>
            <div class="flex items-center">
                <input type="text" class="p-inputtext w-full" 
                    [ngClass]="{ 'editable-field': isEditingPhone }"
                    [disabled]="!isEditingPhone" [(ngModel)]="userData.phoneNumber">
                <button pButton class="p-button-text p-2 ml-2" (click)="toggleEdit('phoneNumber')" [disabled]="!hasPermission('USER_PROFILE_EDIT')">
                    <i class="pi" [ngClass]="isEditingPhone ? 'pi-check text-green-500' : 'pi-pencil'"></i>
                </button>
            </div>
            <div class="col-span-2">
                <hr class="border-gray-500 my-2">
            </div>

            <div>Email:</div>
            <div>
                <input type="email" class="p-inputtext w-full" [disabled]="true" [(ngModel)]="userData.email">
            </div>
        </div>
    </p-card>
</div>