<mat-card>
    <mat-card-header>

        <button style="margin-bottom: 2%; background-color: rgb(55, 55, 123); color: white;" mat-raised-button
            color="primary" (click)="addRole()">Add Role</button>
    </mat-card-header>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="roleName">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
            </ng-container>

            <ng-container matColumnDef="roleDescription">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.roleDescription}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element; let i = index">

                <ng-container *ngIf="!element.roleName.includes('ADMIN')">
                    <button mat-icon-button color="warn" (click)="deleteRole(element)">
                        <mat-icon>delete</mat-icon>
                    </button>

                    <button mat-icon-button color="accent" (click)="assignPermission(element)">
                        <mat-icon>link</mat-icon>
                    </button>
                </ng-container>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of roles elements">
        </mat-paginator>
    </div>
</mat-card>