.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 30%;
}

.header-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}

.search-field {
    width: 300px;
    margin-left: 16px;
}

.mat-mdc-card-header {
    padding: 16px;
}

.mat-mdc-form-field {
    font-size: 14px;
}

.mat-mdc-table {
    width: 100%;
}

table {
    width: 100%;
}
