.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 30%; /* Set a fixed width or adjust based on your preference */
}
