.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 4%; */
    width: 40%;
  }
  
  .profile-container img {
    width: 100px;  /* Adjust size as needed */
    height: 100px; /* Ensure equal width & height */
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd; /* Optional border */
  }

  mat-card {
    width: 50%;
    display: flex;
    justify-content: center;
  }