<h1 mat-dialog-title>Add Role</h1>
<div></div>
<div mat-dialog-content class="role-dialog-content">
    <form [formGroup]="roleForm">
        <mat-form-field appearance="outline">
            <mat-label>Role Name</mat-label>
            <input formControlName="roleName" matInput placeholder="Role Name">
            <mat-error *ngIf="roleForm.get('roleName')?.invalid && roleForm.get('roleName')?.touched">
                <span *ngIf="roleForm.get('roleName')?.hasError('required')">Name is required.</span>
                <span *ngIf="roleForm.get('roleName')?.hasError('minlength')">Minimum 3 characters required.</span>
                <span *ngIf="roleForm.get('roleName')?.hasError('maxlength')">Maximum 50 characters allowed.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Role Description</mat-label>
            <textarea matInput formControlName="roleDescription"></textarea>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="addRole()">Save</button>
</div>